header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
}

p {
    text-align: center;
}

.section {
    margin-bottom: 20px; /* Adds space below each section */
    padding: 20px; /* Adds space inside each section */
}

.banner {
    text-align: center;
}

.centered-list {
    text-align: center; /* Center-align the contents horizontally */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #d82533;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d82533;
    color: #fff;
}
